test
opencv-classifiers

build/*/**
bin/**
.venv/**
.cache/**
_deps/**
CMakeFiles/**

*.sqlite
Makefile
*.pt
*.onnx
models/**
PetImages/**
groceries/**
benchmark/cifar-10/**
benchmark/groceries/**
benchmark/imagenet_labels.txt
benchmark/imagenette/**
benchmark/petimages/**
benchmark/petimages_labels.txt
benchmark_no_accuracy.py
cifar-10/**
get_resnet_inception.ipynb
imagenette2-160/**
lib/__pycache__/**
minimal/
models/sift_kmeans_svm_caltech_centers.npy
models/sift_kmeans_svm_cifar_centers.npy
new_models/**
results/**

# Pictures
**/*.png
**/*.jpg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Models
**/*.dat
