.chart {
    border: 2px solid var(--preformatted);
    border-radius: 5px;
    box-sizing: border-box;
    border-collapse: separate;
}

.chart td {
    background: var(--bg);
    border: none;
}

.chart .chart-label {
    width: 30%;
    border-right: 2px solid black;
}

.chart .bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.chart .chart-percent {
    position: absolute;
    font-weight: bold;
}

.chart .chart-bar {
    background: var(--marked);
    padding-top: 10px;
}