.image-upload__container {
    margin-top: 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 8px;
    border: 1px solid black;
}

.image-upload__form {
    grid-area: 1 / 1 / 2 / 3;
}

.image-upload__form .form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-upload__form label {
    background-color: var(--accent);
    color: var(--accent-text);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.image-upload__form label:hover {
    background-color: var(--accent-hover);
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

.image-upload__preview {
    grid-area: 1 / 3 / 2 / 4;
}

.image-upload__preview img {
    min-height: 200px;
}

.image-upload__preview .img-container {
    border-radius: 5px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.image-upload__preview img {
    width: 100%;
    height: auto;
    display: block;
}

.hidden {
    display: none;
}